# get it here; https://chaster.app/developers/applications
CHASTER_DEVELOPER_TOKEN=

# webhook username
CHASTER_WEBHOOK_USER=WH_USER

# webhook password
CHASTER_WEBHOOK_PWD=WH_PASSWORD

# mongodb database url
DATABASE_URL=mongodb://puryfi:puryfi@mongo:27017/puryfi_chaster?authSource=admin

# frontend url
FRONT_URL=http://localhost:5173

# backend url
BACKEND_URL=http://localhost:8000

# Puryfi WS Url
WEBSOCKET_URL=ws://localhost:8000